{% block body %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://vk.com/alex.program99"><i class="fa fa-vk"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/Strateg192"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:alex.program99@yandex.ru" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="http://www.stu.lipetsk.ru/">ЛГТУ</a></u> город Липецк, улица Московская, дом 30</p>
                <p class="h6">&copy Все права защищены.</p>
            </div>
            </hr>
        </div>
    </div>
</section>
{% endblock %}